<app-navbar></app-navbar>


<nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="https://www.pwc.com/co/es.html">PwC Colombia</a></li>
                    <li class="breadcrumb-item"><a href="https://www.pwc.com/co/es/industrias.html">Industrias</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Automotriz</li>
                </ol>
            </div>
        </div>
    </div>
</nav>

<section class="image">       
    <div class="row">
        <div class="col-sm-8">
            <div class="hero-title-textpanel">
                <h1>Automotriz</h1>
                <p class="lead">En tiempos del Covid-19 la industria automotriz se ha visto afectada en la comercialización y la operación de sus organizaciones. Desde PwC brindamos asesorías en áreas de sostenibilidad, cadena de suministro, gestión e impuestos para esta industria.</p>   
            </div>
        </div>
    </div>
</section>