
    <header>        
            <div class="row contenedor_logo_menu">
                <div class="row logo col-xs-12 col-md-6">                   
                        <a href="#"><img src="assets/images/icons/pwc.png" alt=""></a>          
                        <label class="m-t-50 p-l-20 p-r-20"> | </label>
                        <label class="m-t-50"> Colombia</label>
                </div>

                <div class="menu col-xs-12 col-md-6">
                    <button class="icono">                   
                        <i class="fa fa-search fa-3" aria-hidden="true"></i>
                    </button>
                    <button class="icono">               
                        <i class="fa fa-share-alt fa-3" aria-hidden="true">  Compartir</i>
                    </button>
                    <button class="icono">               
                        <i class="fa fa-map-marker fa-3" aria-hidden="true"></i>
                    </button>
                    <button class="icono">               
                        <i class="fa fa-bars fa-3" aria-hidden="true">  Menu</i>
                    </button>
                </div>
            </div>
        
    </header>
    
   

  
